<!DOCTYPE html>
<html lang="en" ng-app="inspire">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>
	<script src="/js/ang.js"></script>
</head>
<body >
	<div ng-controller="headerController">
		<ng-include src=" '/html/header.html' "></ng-include>
	</div>
	<div id="main-container" ng-controller="profileController">
		<section id="content" class="column">

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create New Post</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
			      </div>
			      <div class="modal-body">
					<!-- add a new post  -->
			        <form ng-submit="newPost()">
			        	<label>Post type(num)</label>
			        	<input type="text" ng-model="post.type">
			        	<label>message</label>
			        	<input type="text" ng-model="post.message">
			        	<input type="submit">
			        </form>
					<!-- end of post form -->
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- end of modal -->
			<div ng-repeat="posts in feed">
				<div class="posts" ng-show="posts.visible">
					<h3 class="post-user">Post from: {{posts.name}}</h3>
					<p>{{posts.type}}</p>
					<h4 class="post-content">{{posts.content}}</h4>
					<div class="rating-area">
						<div>{{posts.rating}}</div>
						<button>{{posts.flagged}}</button>
						<button>{{posts.archived}}</button>
					</div>
				</div>
			</div>
		</section>
		<!-- fine tuning options -->
		<section id="options" class="column">
			<p>filter and search features</p>
			<div class="filter">
				<div class="dropdown">
				  <a id="dLabel" data-target="" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter Posts by:<span class="caret"></span></a>
				  <ul class="dropdown-menu" aria-labelledby="dLabel">
				  	<li ng-click="filter(0)">none</li>
				    <li ng-click="filter(1)">article</li>
				    <li ng-click="filter(2)">photos</li>
				    <li ng-click="filter(3)">videos</li>
				  </ul>
				</div>
			</div>
			<div class="search">
				<form ng-submit="searchform()">
					<input type="text" placeholder="search" ng-model="searchword">
					<input type="submit" value="Search">
				</form>
			</div>
		</section>
		<!-- end of options -->
		<section id="right" class="column">
			<p>????</p>
		</section>
	</div>
	<footer>
		<p>footer stuff</p>
	</footer>
</body>
</html>