<header class="main-head">
	<img class="head-img" src="http://107.170.193.26/images/lightningHead.png" alt="lightning-storm">
	<div class="head-box head-left">
		<a href="/#/"><h1 class="title">Art <span><img src="http://107.170.193.26/images/s.png" alt=""></span>park</h1></a>
		<h4 class="sub-head">Share your inspiration with the world</h4>
	</div>
	<div class="head-box head-right">
		<form class="login-form" ng-submit="logIn()" ng-hide="ifUser">
			<div>
				<p class="warning" ng-if="invalid">{{invalid}}</p>
				<label>username</label>
				<input type="text" ng-model="user.username">
				<label>password</label>
				<input type="password" ng-model="user.password">
			</div>
			<div class="login-outbtn">
				<input type="submit" class="btn login-btn" value="Log In">
			</div>
		</form>
		<div ng-show="ifUser" class="logout">
			<p class="logged-in-as">currently logged in as {{userNAME}}</p>
			<a href="/api/logOut" ><button class="btn btn-logout pull-right">Log Out</button></a>
		</div>
	</div>
</header>