<!DOCTYPE html>
<html lang="en" ng-app="inspire">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>
	<script src="/js/ang.js"></script>
</head>
<body>
	<div ng-controller="headerController">
		<ng-include src=" '/html/header.html' "></ng-include>
	</div>
	<div id="main-container" ng-controller="profileController">
		<section id="content" class="column">

			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Create New Post</button>

			<button class="btn btn-info btn-lg" ng-click="archieved()">Archieved Posts</button>
			<button class="btn btn-info btn-lg" ng-click="">User posts</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
			      </div>
			      <div class="modal-body">
					<!-- add a new post  -->
			        <form ng-submit="newPost()">
			        	<label>Post type(num)</label>
			        	<input type="text" ng-model="post.type">
			        	<label>message</label>
			        	<input type="text" ng-model="post.message">
			        	<input type="submit">
			        </form>
					<!-- end of post form -->
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- end of modal -->
			<div ng-repeat="posts in feed">
				<div class="posts" ng-show="posts.visible">
					<h3 class="post-user">Post from: {{posts.name}}</h3>
					<p>{{posts.type}}</p>
					<h4 class="post-content">{{posts.content}}</h4>
					<div class="rating-area">
						<div>{{posts.rating}}
							<!-- drop in star ratings -->
							<div class="radio-btns">
								<input class="rating-input" type="radio" name="stars" id="star-null" />
								<input class="rating-input" type="radio" name="stars" id="star-1" />
								<input class="rating-input" type="radio" name="stars" id="star-2" />
								<input class="rating-input" type="radio" name="stars" id="star-3" />
								<input class="rating-input" type="radio" name="stars" id="star-4" checked />
								<input class="rating-input" type="radio" name="stars" id="star-5" />
							</div>
							<section class="rating-section">
							  <label class="star-label" for="star-1">
							    <svg width="25" height="24" viewBox="0 0 51 48">
							      <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
							    </svg>
							  </label>
							  <label class="star-label" for="star-2">
							    <svg width="25" height="24" viewBox="0 0 51 48">
							      <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
							    </svg>
							  </label>
							  <label class="star-label" for="star-3">
							    <svg width="25" height="24" viewBox="0 0 51 48">
							      <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
							    </svg>
							  </label>
							  <label class="star-label" for="star-4">
							    <svg width="25" height="24" viewBox="0 0 51 48">
							      <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
							    </svg>
							  </label>
							  <label class="star-label" for="star-5">
							    <svg width="25" height="24" viewBox="0 0 51 48">
							      <path d="m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"/>
							    </svg>
							  </label>
							  <label class="star-label" for="star-null">
							    Clear
							  </label>  
							</section>
							<!-- end of rating -->
						</div>
					</div>
						<div class="archieve-post modify">Save post to Archieves<span class="glyphicon glyphicon-book" ng-click="archievePost($index)"></span></div>
						<div class="flagged-post modify" ng-class="isFlagged">Flag post for Delete<span class="glyphicon glyphicon-flag" ng-click="flagPost($index)"></span></div>
				</div>
				<!-- angled divs area -->
				<div class="rr rr-left">
					<div>
						<h2>rr-left div</h2>
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
					</div>
					</div>
					<div class="rr rr-right">
					<div>
						<h2>rr-right div</h2>
						<p>Lorem ipsum dolor sit amet, dolore eu feugiat facilisis.</p>
					</div>
					</div>
			</div>
		</section>
		<!-- fine tuning options -->
		<section id="options" class="column">
			<p>Filter Posts</p>
			<div class="filter">
				<button>By date Added</button>
				<button>By rating</button>
				<div class="dropdown">
				  <a id="dLabel" data-target="" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter Posts type:<span class="caret"></span></a>
				  <ul class="dropdown-menu" aria-labelledby="dLabel">
				  	<li ng-click="filter(0)">none</li>
				    <li ng-click="filter(1)">article</li>
				    <li ng-click="filter(2)">photos</li>
				    <li ng-click="filter(3)">videos</li>
				  </ul>
				</div>
			</div>
			<div class="search">
				<form ng-submit="searchform()">
					<input type="text" placeholder="search" ng-model="searchword">
					<input type="submit" value="Search">
				</form>
			</div>
		</section>
		<!-- end of options -->
		<section id="right" class="column">
			<p>????</p>
		</section>
	</div>
	<ng-include src=" '/html/footer.html' "></ng-include>
</body>
</html>
	