<!DOCTYPE html>
<html lang="en" ng-app="inspire">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<!-- bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/styles.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload.js"></script>
	<script src="/js/ang.js"></script>
	<script src="/js/profileController.js"></script>
</head>
<body>

	<div ng-controller="headerController">
		<ng-include src=" '/html/header.html' "></ng-include>
	</div>
	<div id="main-container" ng-controller="profileController">
		<section id="content" class="column">
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-profile btn-lg" data-toggle="modal" data-target="#myModal">Create New Post</button>

			<button class="btn btn-profile btn-lg" ng-click="archieved()">Archieved Posts</button>
			<button class="btn btn-profile btn-lg" ng-click="userPosts()">User posts</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Post Your Inspiring Story</h4>
			      </div>
			      <div class="modal-body">
					<!-- add a new post  -->
			        <form class="signup-form" ng-submit="newPost()">
			        	<!-- <label>Post type(num)</label> -->
			        	<!-- <input type="text" ng-model="post.type"> -->
			        	<label>Description</label>
			        	<textarea cols="60" rows="10" ng-model="post.message"></textarea>
			        	<div class="form-break">
			        		<label>upload images</label>
				        	<input 
				        		type="file" 
				        		ng-model="post.files"
				        		ngf-pattern=" 'image/*' "
				        		ngf-accept=" 'image/*' "
				        		ngf-select>
			        	</div>
			        	<div class="or">OR</div>
			        	<div class="form-break">
			        		<label>Link a video/article</label>
			        		<input type="text" ng-model="post.outsource">
			        	</div>
			        	<input type="submit" class="btn modal-btn" value="Submit Post">
			        </form>
					<!-- end of post form -->
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-close" data-dismiss="modal">Close</button>
			      </div>
			    </div>
			  </div>
			</div>
			<!-- end of modal -->
			<div ng-repeat="posts in feed track by $index">
				<div class="posts-container" ng-show="posts.visible">
				<!-- drop in rating area -->
					<div class="post-header">
						<div class="rating-area">
							<!-- <form class="rating-form" ng-submit="ratePost($index)">
							  <fieldset class="form-group">
							    <legend class="form-legend">Rating: </legend>
							    <div class="form-item">  
							      <input id="{{$index}}5" name="rating" type="radio" value="5" ng-model="rateNum['score']"/>
							      <label for="{{$index}}5" data-value="5">
							        <span class="rating-star">
							          <i class="fa fa-star-o"> </i>
							          <i class="fa fa-star"> </i>
							        </span>
							        <span class="ir">5 </span>
							      </label>
							      <input id="{{$index}}4" name="rating" type="radio" value="4" ng-model="rateNum['score']"/>
							      <label for="{{$index}}4" data-value="4">
							        <span class="rating-star">
							          <i class="fa fa-star-o"> </i>
							          <i class="fa fa-star"> </i>
							        </span>
							        <span class="ir">4 </span>
							      </label>
							      <input id="{{$index}}3" name="rating" type="radio" value="3" ng-model="rateNum['score']"/>
							      <label for="{{$index}}3" data-value="3">
							        <span class="rating-star">
							          <i class="fa fa-star-o"></i>
							          <i class="fa fa-star"></i>
							        </span>
							        <span class="ir">3 </span>
							      </label>
							      <input id="{{$index}}2" name="rating" type="radio" value="2" ng-model="rateNum['score']"/>
							      <label for="{{$index}}2" data-value="2">
							        <span class="rating-star">
							          <i class="fa fa-star-o"></i>
							          <i class="fa fa-star"></i>
							        </span>
							        <span class="ir">2 </span>
							      </label>
							      <input id="{{$index}}1" name="rating" type="radio" value="1" ng-model="rateNum['score']"/>
							      <label for="{{$index}}1" data-value="1">
							        <span class="rating-star">
							          <i class="fa fa-star-o"></i>
							          <i class="fa fa-star"></i>
							        </span>
							        <span class="ir">1 </span>
							      </label>
							      <div class="form-action">
							        <input class="btn-reset" type="reset" value="reset" />   
							      </div>
							      <div class="form-output">
							        ? / 5
							      </div>
							    </div>
							  </fieldset>
							  <input class="submit-btn" type="submit">
							</form> -->
						</div>
					<!-- <div>{{rateNum['score']}}</div>
					<div>{{posts.rating}}</div>
					<div>{{posts.archieved}}</div> -->
					<!-- end of rating area -->
					<div class="post-username">
					<div id="triangle-topleft2"></div>
						<div id="triangle-topleft"></div>
						<h3 class="post-title">Post from: {{posts.name}}</h3>
					</div>
					</div> <!-- end post header -->
					<div class="post-body">
						<div class="post-content">
							<h4 class="post-content-head">Description</h4>
							<p class="post-description">{{posts.content}}</p>
						</div>
						<div class="post-media">
							<img class="img-responsive" src="{{posts.files}}" alt="">
							<iframe  ng-hide="ifEmbeded" class="post-embed" src="{{$sce.trustAsResourceUrl(posts.outsource)}}"></iframe>
						</div>
					</div> <!-- end of post body -->
					<div class="post-nav">
						<div class="post-navleft">
							<div ng-hide="{{posts.hasArchieve}}" class="archieve-post post-options" ng-click="savePost($index); posts.isSaved='saved'" ng-class="posts.isSaved">Save <span class="glyphicon glyphicon-book"></span></div>
							<div class="flagged-post post-options" ng-class="posts.isFlagged">Report <span class="glyphicon glyphicon-flag" ng-click="flagPost($index); posts.isFlagged='active'"></span></div>
							<div class="view-more post-options">Full Size <span class="glyphicon glyphicon-resize-full"></span></div>
							<div id="triangle-bottomleft"></div>
							<div id="triangle-bottomleft2"></div>
						</div>
						<div class="post-navright">
							<h6 class="post-date">Posted on: {{posts.timestamp | date}}</h6>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- fine tuning options -->
		<section id="options" class="column">
			<h3 class="options-header">Post Options</h3>
			<div class="search">
				<form  class="search-form" ng-submit="searchform()">
					<input class="search-bar" type="text" placeholder="keyword" ng-model="searchword">
					<input class="search-btn" type="submit" value="Search">
				</form>
			</div>
			<div class="filter">
				<h4 class="options-subtitle">Filter</h4>
				<div class="line-break"></div>
				<!-- <button>By date Added</button>
				<button>By rating</button> -->
				<div class="dropdown">
				  <a id="dLabel" data-target="" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Filter Posts type:<span class="caret"></span></a>
				  <ul class="dropdown-menu" aria-labelledby="dLabel">
				  	<li ng-click="filter(0)">none</li>
				    <li ng-click="filter(1)">article</li>
				    <li ng-click="filter(2)">photos</li>
				    <li ng-click="filter(3)">videos</li>
				    <li ng-click="filter(4)">3+ rating</li>
				  </ul>
				</div>
				<h4 class="options-subtitle options-sort">Sort</h4>
				<div class="line-break"></div>
				<div class="dropdown">
				  <a id="sortLabel" data-target="" href="" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort Posts type:<span class="caret"></span></a>
				  <ul class="dropdown-menu" aria-labelledby="sortLabel">
				  	<li ng-click="sortfeed(0)">default</li>
				    <li ng-click="sortfeed(1)">rating</li>
				    <li ng-click="sortfeed(2)">date Added</li>
				    <li ng-click="sortfeed(3)">Newest</li>
				  </ul>
				</div>
			</div>
			
		</section>
		<!-- end of options -->
		
	</div>
	<ng-include src=" '/html/footer.html' "></ng-include>
</body>
</html>
	